<div class="jumbotron">
  <h1>ACTOR</h1>
  <p class="lead">ac·tor  (ăk′tər)</p>
  <p><%= link_to 'Movies', movies_path(), class:"btn btn-lg btn-success"%></p>
</div>

<div class="row ">
  <% @actors.each do |a| %>
  <div class="col-md-6">
    <h4><%= a.first_name %><%= a.last_name %></h4>
    <p><%= a.bio %></p>
    <%= link_to 'Learn More', a %>
  </div>
  <% end %>
</div>
<div class="jumbotron">
  <h1>ACTOR</h1>
  <p class="lead">ac·tor  (ăk′tər)</p>
  <p><%= link_to 'Movies', movies_path(), class:"btn btn-lg btn-success"%></p>
</div>
