<div class="jumbotron">
        <h1>MOVIE</h1>
        <p class="lead">mov·ie  (mo͞o′vē)</p>
        <p><%= link_to 'Actors', actors_path(), class:"btn btn-lg btn-success"%></p>
</div>

      <div class="row ">
<% @movies.each do |m| %>
        <div class="col-md-6">
          <h4><%= m.title %></h4>
          <p><%= m.release_year %></p>
          <p><%= m.plot %></p>
          <%= link_to 'Learn More', m %>
        </div>
        <% end %>
      </div>

      <div class="jumbotron">
              <h1>MOVIE</h1>
              <p class="lead">mov·ie  (mo͞o′vē)</p>
              <p><%= link_to 'Actors', actors_path(), class:"btn btn-lg btn-success"%></p>
      </div>
