
<div class="jumbotron">
  <h1><%= @movie.title %></h1>
  <p class="lead"><%= @movie.release_year %></p>
  <p><%= @movie.plot %></p>
</div>
<div class="">
  <h3>CAST</h3>
</div>

<div class="row ">
  <% @actors.each do |a| %>

  <div class="col-md-6">
    <h4><%= a.first_name %><%= a.last_name %></h4>
    <p><%= a.bio %></p>
    <%= link_to 'Learn more', a %>
  </div>
  <% end %>
</div>
<div class="jumbotron">
  <%= simple_form_for([@movie, @movie.movie_quotes.build],{class:'form-inline'}) do |f| %>
  <h3>What's your favorite quote from</h3>

      <h1> <%= @movie.title %></h1>
      <%= f.input :source, label: false, placeholder: 'source' %>

  <p><%= f.button :submit, 'Add your favorite movie quote', class:'btn btn-success' %></p>
      <%= f.input :quote, label: false, placeholder: 'quote' %>
  <%= link_to 'All Movies', movies_path(), class:"btn btn-success" %>
  <%= link_to 'All Actors', actors_path(), class:"btn btn-success" %>
</div>
<% end %>
<div class="row ">
  <% @movie.movie_quotes.each do |q| %>
  <div class="col-md-6">
    <h4><%= q.quote %></h4>
    <p>-<%= q.source %></p>
  </div>
  <% end %>
</div>
